/* .column-1 первая колонка с вопросами
.string-1 первая строка с вопросами
.column-1-empty первая пустая ячейка
.column-checkbox ячейки чекбоксов */

/* таблица radio-кнопок */
.Radio-table {
    align-content: space-around;
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.string {
    display: flex;
}

.column-1,
.string-1,
.column-1-empty,
.column-checkbox {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 8px;
    flex: 1;
}

.column-1,
.column-1-empty {
    justify-content: flex-start;
    text-align: left;
    flex: 2;
}

.column-1-empty {
    border: transparent;
}

.column-1,
.string-1 {
    background-color: white;
    /* border: 1px solid #E6E6E6; */
    border: transparent;
    border-radius: 5px;
}

.ant-checkbox,
.column-checkbox {
    border: transparent !important;
}

/*
#E0F2F1 - светлый
#B2DFDB
#80CBC4
#4DB6AC - темнее
#26A69A
 */
