.menu-component {
    background: transparent;
    margin-bottom: 20px;
    margin-top: 44px;
    display: flex;
    flex: 1;
}

/* главная, опросник, статистика */
.main,
.interview,
.statistica {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 8px 10px 8px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: lighter;
    border-bottom: none;
    font-size: 17px;
    transition: .3s;
    color: #F5F5F5;
}

.main {
    font-size: 18px;
}

.main:hover,
.interview:hover,
.statistica:hover {
    border-bottom: none;
    cursor: pointer;
    /* color: #A9A9A9; */
    color: #80CBC4;
}
