/* выпадающий список */
.ant-select-selection,
.ant-select-selection--single {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border: transparent;
    min-width: 150px;
    cursor: pointer;
    outline: none;
    color: black;
}

.ant-select-open,
.ant-select-focused,
.ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

/* цвет рамочки */
.ant-select-selection {
    transition: .3s;
    border: 1px solid rgba(0,0,0,0) !important;
}

/* цвет рамочки при наведении - цвет темнее*/
.ant-select-selection:hover {
    border: 1px solid #80CBC4 !important;
}

/* цвет наведения на пункт */
.ant-select-dropdown-menu-item:hover {
    background-color: #B2DFDB !important;
    /* width: 100px; */
}
