/* выпадающий список */
.ant-select-selection,
.ant-select-selection--single {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border: transparent;
    min-width: 150px;
    cursor: pointer;
    outline: none;
    color: black;
}

.ant-select-open,
.ant-select-focused,
.ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

/* цвет рамочки */
.ant-select-selection {
    border: 1px solid rgba(0,0,0,0) !important;
    transition: .3s;
}

/* цвет рамочки при наведении - цвет темнее*/
.ant-select-selection:hover {
    border: 1px solid #4DB6AC !important;
}

/* светлый цвет наведения на пункт */
.ant-select-dropdown-menu-item:hover {
    background-color: #E0F2F1 !important;
    /* width: 100px; */
}

/* активный select - при выборе пункта фон становится темный */
.select-active .ant-select-selection {
    border: 1px solid rgba(0,0,0,0) !important;
    background-color: #4DB6AC !important;
    color: white;
}

/*
#E0F2F1 - светлый
#B2DFDB
#80CBC4
#4DB6AC - темнее
#26A69A
 */
