/* пролог - приветствие, имя, возраст, пол */
.ant-input-group-addon {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.ant-input {
    margin-left: 20px;
    width: auto;
}

.ant-input:hover {
    border-color: #80CBC4 !important;
}
.ant-input-group {
    border-color: #80CBC4 !important;
}

.title-questionnary {
    padding: 20px;
}
