/* контейнер - вопрос и варианты ответа в виде выпадающего списка или радио-кнопок */
.question-container {
    border: 1px solid #BDBDBD;
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
}
